    .header {
        height: 200px;
        background-image: url(web\ devolopment.png);
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
        color: rgb(19, 0, 128);
        background-blend-mode: multiply;
    }
    
    .page-title {
        font-size: 50px;
        text-align: left;
    }
    
    h3 {
        color: red;
        font-size: 30px;
        text-decoration: underline;
        background-color: gray;
    }
    
    p {
        color: blueviolet;
        background-color: yellow;
        margin: 20px;
        border-radius: 10px;
        border-color: blueviolet;
    }
    
    ol {
        background-color: aqua;
    }